@import url(root.css);
@import url(font.css);

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text_index{
    font-family: LittleComet;
    color: var(--TyrianPurple-);
}

.text_index2{
    font-family: LittleComet;
    color: var(--TyrianPurple-);
    font-size: 150%;
}