:root{
    --TyrianPurple- : #5F0F40;
    --RubyRed- : #9A031E;
    --DarkOrange- : #FB8B24;
    --SpanishOrange- : #E36414;
    --DarkerSpanishOrange- : #b64f10;
    --MidnightEagleGreen- : #0F4C5C;
    --Black- : #000000;
    --White- : #FFFFFF;
    --Grey- : #7e7e7e;
    --RedError- : #ff0000;
}